* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Euclid Circular A', sans-serif;

}

.navbar {
    display: flex;
    padding: 24px 72px 32px 72px;
    justify-content: space-between;
    align-items: baseline;
    background-color: #FAFAFA;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9CA3AF;
    padding-bottom: 4px;
}

.search-icon {
    margin-right: 16px;
    color: #9CA3AF;
}

.search-input {
    border: none;
    background: none;
    outline: none;
}

.search-input::placeholder {
    color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #6B7280;
}

.menu .basket {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #1F2937;
}

.second-nav {
    padding: 20px 72px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: #374151;
    font-weight: 600;
    font-size: 14px;
}

.tag {
    background-color: #EB5757;
    padding: 4px 8px;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 500;
    font-size: 13px;
}

.header {
    display: flex;
    height: 90vh;
    width: 100%;
}

.text {
    background: url("./images/Mask\ group.png"), #1C2333;
    height: 100%;
    width: 70%;
}

.box {
    background-color: #1F2937;
    margin: 125px 96px;
    padding: 40px;
    width: 55%;
}

.percentage {
    font-size: 56px;
    font-weight: 600;
    color: #FAFAFA;
}

.arrivals {
    color: #F7C59F;
    font-size: 56px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #F3F4F6;
    margin-top: 24px;
}

.outline {
    margin-top: 56px;
    background-color: transparent;
    border: 1px solid #FAFAFA;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FAFAFA;
}

.image {
    background-color: #F7C59F;
    width: 30%;
}

.circle {
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 300px;
    height: 300px;
    margin: 36% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 500px;
    width: 250px;
    object-fit: cover;
    margin-top: -33px;
}

.hero .popular {
    margin-top: 50px;
    /* taken from my head */
}

.hero-text h3 {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #374151;
}

.hero-text h3::after {
    content: "";
    display: block;
    width: 88px;
    height: 4px;
    background-color: #374151;
    margin: 10px auto 0;
    border-radius: 2px;

}

.product-section {
    display: flex !important;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;
    width: 100%;

}

.card1 {
    background-image: url("./images/proimage-1.png");
}

.card2 {
    background-image: url("./images/proimage-2.png");
}

.card3 {
    background-image: url("./images/proimage-8.png");
}

.card4 {
    background-image: url("./images/proimage-7.png");
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 450px;
}

.small {
    height: 450px;
    width: 30%;
}

.big {
    height: 450px;
    width: 50%;
}


.product-card h3 {
    font-size: 56px;
    font-weight: 600;
    color: #FAFAFA;
    text-align: center;
    z-index: 2;
}

.small-box {
    position: absolute;
    bottom: 20px;  
    left: 20px;  
    background-color: #00000080;
    border: 1px solid #F9FAFB0D;
    padding: 12px 14px;
    opacity: 0.7;
    width: auto;
}

.small-box p {
    margin: 4px 0;
    color: #F9FAFB;
    text-align: left;
}
.title {
    font-weight: 600;
    font-size: 18px;
    color: #F9FAFB;
}

.price {
    font-weight: 400;
    font-size: 12px;
    color: #F3F4F6;
    

}

.discount {
    font-weight: 400;
    font-size: 14px;
    color: #F3F4F6;
}